/*'Open Sans', sans-serif;*/
/*________________________ colors */
/* blue */
/* brown */
/* almost black grey */
/* orange dark */
/*________________________ fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lobster);
.color-1 {
  color: #E65F34; }

.color-2 {
  color: #393532; }

/*_________________________ */
body {
  font: 100% "Source Sans Pro", sans-serif;
  color: #111;
  width: 100%;
  height: 100%;
  margin: 0;
  /*margin-bottom: 60px;*/ }

html {
  width: 100%;
  height: 100%;
  font-size: 15px;
  position: relative;
  min-height: 100%; }

a:hover {
  text-decoration: none; }

.centered {
  text-align: center;
  color: white; }

.vertically-centered {
  display: table;
  height: 100%;
  width: 100%; }
  .vertically-centered .bloc {
    display: table-cell;
    vertical-align: middle;
    padding: 15px; }

/*__________________ SECTIONS */
.intro-section {
  height: 100%;
  text-align: center;
  background: #E65F34;
  color: #FFF;
  border-bottom: 1px dotted white; }
  .intro-section a {
    color: #FFF; }
  .intro-section img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid white;
    -webkit-box-shadow: 0px 1px 5px #331B0D;
    -moz-box-shadow: 0px 1px 5px #331B0D;
    box-shadow: 0px 1px 5px #331B0D; }
  .intro-section .bracket-wrap:before {
    font-size: 85px;
    content: "(";
    top: -10px;
    position: relative; }
  .intro-section .bracket-wrap:after {
    font-size: 85px;
    content: ")";
    top: -10px;
    position: relative; }
  .intro-section .baseline {
    display: inline-block;
    color: #393532; }
    .intro-section .baseline span {
      color: white; }
  .intro-section .logo {
    /*@include text-shadow(1px, 1px);*/
    color: #393532; }
  .intro-section .home-links {
    margin-top: 25px; }
    .intro-section .home-links i {
      font-size: 25px;
      margin-left: 10px;
      margin-right: 10px; }

.github-section {
  height: 100%;
  color: #E65F34;
  text-align: center;
  background: #393532;
  border-bottom: 1px dotted white; }
  .github-section a {
    color: #E65F34; }
  .github-section .baseline {
    margin-bottom: 20px; }
  .github-section .main-icon {
    color: #fff;
    font-size: 110px; }
  .github-section strong {
    color: white; }

.main-icon {
  color: #fff;
  font-size: 160px; }

.work-section {
  height: 100%;
  text-align: center;
  background: #E65F34;
  border-bottom: 1px dotted white;
  color: #393532; }
  .work-section a {
    color: #393532; }
  .work-section i {
    font-size: 120px; }
  .work-section #works-collapsible {
    max-height: 300px;
    overflow: auto; }

.map-section {
  padding-top: 40px;
  padding-bottom: 50px;
  background: #393532;
  color: #E65F34; }
  .map-section h1 {
    text-align: center; }
  .map-section address {
    /*display: none;*/ }
  .map-section .btn.btn-primary {
    background-color: #E65F34;
    border-color: #E65F34; }
  .map-section .corner {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }

.footer {
  width: 100%;
  height: 70px;
  background-color: #2E2B29;
  text-align: center;
  color: #FFF;
  padding-top: 23px; }
  .footer a {
    color: white; }

.footer {
  /*height: 180px;*/ }

.glyphicon-lg {
  font-size: 3.5em;
  color: #CBF3FF; }

.glyphicon-md {
  font-size: 2.5em; }

.logo {
  font-family: "Lobster", cursive; }

.logo-lg {
  font-size: 3.2em;
  margin-bottom: 30px; }

.baseline {
  margin-bottom: 30px;
  letter-spacing: 0.1em; }

a:focus {
  outline: 0; }

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #E65F34;
  width: 1.4em;
  height: 1.4em;
  font-size: 2em;
  text-align: center;
  line-height: 1em;
  display: inline-block;
  font-weight: 700; }

.bottom-border {
  border-bottom: 1px dotted #E65F34; }
