@import 'mixins';
@import 'variables';
/*________________________ fonts */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lobster);
.color-1 {
	color: $color1;
}

.color-2 {
	color: $color2;
}
/*_________________________ */

body {
	font: 100% $block-font;
	color: $color4;
	width: 100%;
	height: 100%;
	margin: 0;
	/*margin-bottom: 60px;*/
}

html {
	width: 100%;
	height: 100%;
	/**/
	
	font-size: 15px;
	position: relative;
	min-height: 100%;
}

a:hover {
	text-decoration: none;
}

.centered {
	text-align: center;
	color: white;
}

.vertically-centered {
	display: table;
	height: 100%;
	width: 100%;
	.bloc {
		display: table-cell;
		vertical-align: middle;
		padding: 15px;
	}
}
/*__________________ SECTIONS */

.intro-section {
	height: 100%;
	text-align: center;
	background: $color1;
	color: $color3;
	border-bottom: 1px dotted white;
	a {
		color: $color3;
	}
	img {
		@include border-radius(50%);
		border: 3px solid white;
		@include box-shadow(0px, 1px, 5px, #331B0D);
	}
	.bracket-wrap:before {
		font-size: 85px;
		content: "(";
		top: -10px;
		position: relative;
	}
	.bracket-wrap:after {
		font-size: 85px;
		content: ")";
		top: -10px;
		position: relative;
	}
	.baseline {
		display: inline-block;
		color: $color2;
		span {
			color: white;
		}
	}
	.logo {
		/*@include text-shadow(1px, 1px);*/
		
		color: $color2;
	}
	.home-links {
		margin-top: 25px;
		i {
			font-size: 25px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}

.github-section {
	height: 100%;
	color: $color1;
	text-align: center;
	background: $color2;
	border-bottom: 1px dotted white;
	a {
		color: $color1;
	}
	.baseline {
		margin-bottom: 20px;
	}
	.main-icon {
		color: #fff;
		font-size: 110px;
	}
	strong {
		color: white;
	}
}

.main-icon {
	color: #fff;
	font-size: 160px;
}

.work-section {
	height: 100%;
	text-align: center;
	background: $color1;
	border-bottom: 1px dotted white;
	color: $color2;
	a {
		color: $color2;
	}
	i {
		font-size: 120px;
	}
	#works-collapsible {
		max-height: 300px;
		overflow: auto;
	}
}

.map-section {
	padding-top: 40px;
	padding-bottom: 50px;
	background: $color2;
	color: $color1;
	h1 {
		text-align: center;
	}
	address {
		strong {}
		/*display: none;*/
	}
	.btn.btn-primary {
		background-color: $color1;
		border-color: $color1;
	}
	.corner {
		@include border-radius(10px);
	}
}

.footer {
	width: 100%;
	height: 70px;
	background-color: $color5;
	text-align: center;
	color: $color3;
	padding-top: 23px;
	a {
		color: white;
	}
}

@media (max-width: 600px) {
	.footer {
		/*height: 180px;*/
	}
}

.glyphicon-lg {
	font-size: 3.5em;
	color: $color1-2;
}

.glyphicon-md {
	font-size: 2.5em;
}

.logo {
	font-family: $logo-font;
}

.logo-lg {
	font-size: 3.2em;
	margin-bottom: 30px;
}

.baseline {
	margin-bottom: 30px;
	letter-spacing: 0.1em;
}

a:focus {
	outline: 0;
}

.circle {
	@include border-radius(50%);
	border: 4px solid $color1;
	width: 1.4em;
	height: 1.4em;
	font-size: 2em;
	text-align: center;
	line-height: 1em;
	display: inline-block;
	font-weight: 700;
}

.bottom-border {
	border-bottom: 1px dotted $color1;
}
