$block-font: 'Source Sans Pro',
sans-serif;
/*'Open Sans', sans-serif;*/

$logo-font: 'Lobster',
cursive;
$code-font: 'Source Code Pro',
monospace;
/*________________________ colors */

$color1: #E65F34;
/* blue */

$color1-2: #CBF3FF;
$color1-3: #20AACD;
$color2: #393532;
/* brown */

$color3: #FFF;
$color4: #111;
/* almost black grey */

$color5: #2E2B29;
/* orange dark */
