/*
* @Author: Gilles Coomans
* @Date:   2017-04-24 15:29:24
* @Last Modified by:   Gilles Coomans
* @Last Modified time: 2017-04-30 12:12:25
*/

@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    font-family: 'Lato', sans-serif;
    padding: 20px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
}

h1 + .subtitle {
    padding: 0;
    padding-left: 70px;
    margin: 0;
}

h3:before {
    content: '> ';
}

.page-header {
    border-left: 5px solid #dfecef;
    padding-left: 10px;
}

.libraries-group {
    padding-left: 10px;
    border-left: 5px solid #B6DDE5;
}

.libraries-group > h3 {
    font-size: 1.1rem;
    margin-top: 30px;
}

.library .libraries-group {
    border: none;
    padding-left: 0;
}

.library .libraries-group > h3 {
    border-radius: 5px;
    margin: 10px 0;
    background: white;
    padding: 5px;
}

.libraries-group > .description {
    margin-bottom: 15px;
    border-radius: 5px;
}

.libraries > .libraries-group {
    border-left: 5px solid #4FA4B6;
    margin-bottom: 40px;
}

.libraries > .libraries-group > h3 {
    font-size: 1.5rem;
}

.libraries > .libraries-group > .description {
    background: #d2e6ea;
}

.libraries > .libraries-group > .libraries-group {
    border-left: 5px solid #EAD783;
}

.libraries > .libraries-group > .libraries-group > .description {
    background: #fff2ce;
}

.libraries > .libraries-group > .libraries-group > .libraries-group {
    border-left: 5px solid #d2468b;
}

.libraries > .libraries-group > .libraries-group > .libraries-group > .description {
    background: #fbeef3;
}

.libraries-group > .libraries-group {
    margin-top: 20px;
}

.library {
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #5BB9D3;
}

.library > a {
    font-weight: 800;
    font-size: 1.1rem;
}

.library > a:before {
    display: inline-block;
    content: ' ';
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    background-image: url(./img/github/github-social-logo.svg);
    vertical-align: -30%;
    margin-right: 10px;
}

.badges {
    margin-top: 10px;
}

.badges img {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.description {
    font-size: 0.9rem;
    padding: 15px;
    background: #F9F9F9;
    max-width: 500px;
}

.github-img img {
    width: 32px;
    height: 32px;
}

.social-links {
    border-left: 5px solid #dfecef;
    padding: 15px;
    margin: 30px 0;
}

.social-links a {
    margin-right: 30px;
    margin-bottom: 10px;
}

.social-links a:before {
    content: ' ';
    background-size: 32px 32px;
    display: inline-block;
    vertical-align: -50%;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.twitter-button:before {
    background: url(./img/twitter.svg) no-repeat;
}

.linkedin-button:before {
    background: url(./img/linkedin.svg) no-repeat;
}

.github-button:before {
    background: url(./img/github/github-social-logo.svg) no-repeat;
}

.page-footer {
    border-left: 5px solid #4FA4B6;
    margin-top: 30px;
    padding: 20px;
}


/**
 ************ CONTACT FORM
 */


/* src: https://www.sanwebe.com/2013/10/css-html-form-styles */


/* #### bootstrap Form #### */

.bootstrap-frm {
    max-width: 500px;
    padding: 40px 30px;
    font-family: 12px 'Lato', sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border-left: 5px solid #4FA4B6;
}

.bootstrap-frm h2 {
    padding: 0px 0px 10px 30px;
    display: block;
    margin: -10px -30px 30px -30px;
    color: #000;
}

.bootstrap-frm h2>span {
    display: block;
    font-size: 11px;
}

.bootstrap-frm label {
    display: block;
    margin: 0px 0px 5px;
}

.bootstrap-frm label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

.bootstrap-frm input[type="text"],
.bootstrap-frm input[type="email"],
.bootstrap-frm textarea,
.bootstrap-frm select {
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    line-height: 15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    border-radius: 4px;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.bootstrap-frm select {
    background: #FFF url('./img/down-arrow.png') no-repeat right;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 100%;
    height: 35px;
    line-height: 15px;
}

.bootstrap-frm textarea {
    height: 100px;
    padding: 5px 0px 0px 5px;
    width: 100%;
}

.bootstrap-frm .button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}

.bootstrap-frm .button:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}

#thanks {
    background: #CFE8A5;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    color: #000;
    text-shadow: none;
}


/**
 ************** RESPONSIVE
 */

@media screen and (min-width: 640px) {
    body {
        margin: 50px;
    }
    #app {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        max-width: 700px;
        width: 100%;
    }
    h1 {
        font-size: 2.5rem;
    }
    h1:before {
        margin-right: 15px;
        background-size: 32px 32px;
        height: 32px;
        width: 32px;
        vertical-align: -5%;
    }
    .bootstrap-frm input[type="text"],
    .bootstrap-frm input[type="email"],
    .bootstrap-frm textarea,
    .bootstrap-frm select {
        width: 70%;
    }
    .bootstrap-frm textarea {
        width: 70%;
    }
    .bootstrap-frm select {
        width: 70%;
    }
}
